<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= article.title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/components/header.css" />
  <link rel="stylesheet" href="/css/components/topCategories.css" />
  <link rel="stylesheet" href="/css/detail_article.css" />
</head>

<body>
  <%- include('../components/home/header', {user: user}) %>
    <main class="container">
      <h1>
        <%= article.title %>
      </h1>

      <div class="section1">
        <p>
          <%= article.categoryName %>
        </p>
        <p>
          <%= article.publish_date %>
        </p>
      </div>

      <!-- download button -->
      <div class="btn download-btn">
        <a href="<%= article.file %>" download="<%= article.title %>">
          <i class="fas fa-download"></i> Download
        </a>
      </div>

      <!-- Summary -->
      <div class="summary">
        <%- article.summary %>
      </div>

      <!--Content -->
      <div class="content">
        <%- article.content %>
      </div>

      <!--Author -->
      <div class="author">
        <p></p>
        <p>
          <%= article.writerName %>
        </p>
      </div>

      <!-- Tags -->
      <div class="tags">
        <p>Nhãn</p>
        <% article.tagNames.forEach(tag=> { %>
          <a href="/tag/<%= tag._id %>">#<%= tag %></a>
          <% }) %>
      </div>

      <!-- Comments -->

      <div class="comments">
        <div class="comment-input bg-light bg-gradient position-relative">
          <input type="text" id="comment-input" class="form-control" placeholder="Viết bình luận..." />
          <div class="comment-submit position-absolute">
            <button id="comment-submit-btn" class="btn btn-dark">OK</button>
          </div>
        </div>

        <section class="other-comments">
          <p class="comment-title">Bình luận</p>
          <p class="no-comment">Hiện chưa có bình luận</p>
          <div class="comments-list">
            <div class="comment">
              <div class="comment-avatar">
                <img src="https://robohash.org/1" alt="Avatar" />
              </div>
              <div class="comment-content">
                <div class="comment-info">
                  <span class="comment-author">Nguyễn Văn A</span>
                  <span class="comment-date">Ngày bình luận</span>
                </div>
                <p class="comment-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Quisquam, voluptates. Lorem ipsum dolor sit
                  amet consectetur adipisicing elit. Quisquam, voluptates. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
                  voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Quisquam, voluptates. Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Quisquam, voluptates. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>

            <div class="comment">
              <div class="comment-avatar">
                <img src="https://robohash.org/1" alt="Avatar" />
              </div>
              <div class="comment-content">
                <div class="comment-info">
                  <span class="comment-author">Nguyễn Văn A</span>
                  <span class="comment-date">Ngày bình luận</span>
                </div>
                <p class="comment-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Quisquam, voluptates. Lorem ipsum dolor sit
                  amet consectetur adipisicing elit. Quisquam, voluptates. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
                  voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Quisquam, voluptates. Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Quisquam, voluptates. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>

            <div class="comment">
              <div class="comment-avatar">
                <img src="https://robohash.org/1" alt="Avatar" />
              </div>
              <div class="comment-content">
                <div class="comment-info">
                  <span class="comment-author">Nguyễn Văn A</span>
                  <span class="comment-date">Ngày bình luận</span>
                </div>
                <p class="comment-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Quisquam, voluptates. Lorem ipsum dolor sit
                  amet consectetur adipisicing elit. Quisquam, voluptates. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
                  voluptates. Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Quisquam, voluptates. Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Quisquam, voluptates. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
        </section>

        <hr>


        <div class="my-5 container">
          <div class="d-flex">
            <div class="rect"></div>
            <h3 class="mb-4">Cùng chuyên mục</h3>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 mb-4">
            <% article.relatedArticles.forEach((item)=> { %>
              <div class="col">
                <div class="card">
                  <a href="/article/<%= item._id %>">
                    <img src="<%= item.thumbnail %>" alt="<%= item.title %>" />
                  </a>
                  <div class="card-body card-category">
                    <h6 class="card-title">
                      <a href="/article/<%= item._id %>">
                        <%= item.title %>
                      </a>
                    </h6>
                    <p class="card-text">
                      Ngày xuất bản: <%= item.publish_date %>
                    </p>
                  </div>
                </div>
                <% }) %>
              </div>
          </div>
        </div>

        <%- include('../components/footer.ejs') %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/65d6f9b274.js" crossorigin="anonymous"></script>
    <script src="/js/pages/home.js"></script>
    <script src="/js/header.js"></script>

</body>

</html>