<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật thông tin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/components/header.css" />
    <link rel="stylesheet" href="/css/update_user_profile.css" />
</head>
<body>
    <%- include('../components/home/header') %><br>

    <div class="update-form-container container-sm">
        <h1>Cập nhật thông tin</h1><hr/> 
        <form id="updateProfileForm" enctype="multipart/form-data">
          <input type="hidden" name="user_id" value="<%= user._id %>">

          <div class="col-12">
              <label for="inputFullName1" class="form-label" name="full_Name">Họ tên</label>
              <input type="text" class="form-control" name="full_name" id="inputFullName1" value="<%= profile.full_name || ''%>" required>
          </div>


          <% if (user.role === 'writer') { %>
          <div class="col-12">
            <label for="inputPenName1" class="form-label" name="pen_name">Bút danh</label>
            <input type="text" name="pen_name" class="form-control" id="inputPenName1" value="<%= profile.pen_name || ''%>" required>
          </div>
          <% } %>

          <div class="col-12">
            <label for="inputEmail1" class="form-label" name="email">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail1" placeholder="abc@gmail.com" value="<%= user.email || ''%>" required>
          </div>
  
          <div class="col-12">
            <label for="inputDOB" class="form-label" name="dob">Ngày sinh</label>
            <input type="date" class="form-control" id="inputDOB" name="dob" value="<%= profile.dob ? profile.dob.toISOString().split('T')[0] : '' %>" required>
          </div>

          <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn-update btn btn-secondary">Cập nhật</button>
          </div>
        </form>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="js/update_profile.js"></script> <!-- Link to the external JS file -->
</body>
</html>
