<div class="m-3">
    <div class="d-flex">
        <div class="rect"></div>
        <h3 class="mb-2">Top 10 chuyên mục hàng đầu</h3>
    </div>
    <div class="">
        <% if (topCategories && topCategories.length> 0) { %>
            <div class="top-categories">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <ul class="m-0 d-flex list-unstyled justify-content-between" id="categoryContainer">
                                <% topCategories.forEach((category)=> { %>
                                    <li class="text-dark" value="<%= category.articleId %>"
                                        onclick="showArticle(this.value)">
                                        <%= category.name %>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% topCategories.forEach((category)=> { %>
                    <% if (category.articleId) { %>
                        <div class="d-flex" style="display: none;" id="<%= category.articleId %>">
                            <img src="<%= category.thumbnail || 'https://via.placeholder.com/300x300' %>"
                                class="d-block w-80" height="300px"
                                alt="<%= category.articleTitle %>" />
                            <div class="flex">
                                <p class="card-text mb-1">
                                    <%= category.name %>
                                </p>
                                <h5>
                                    <%= category.articleTitle %>
                                </h5>
                                <p class="card-text small mb-2 text-muted">
                                    Ngày đăng: <%= category.publishDate %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                            <% }) %>
            </div>
            <% } else { %>
                <p>No categories available.</p>
                <% } %>
    </div>
</div>
<script>
    let pre = "";
    function show(id) {
        if (pre != "") {
            var preArticle = document.getElementById(pre);
            article.style.display = 'none';
        }
        var article = document.getElementById(id);
        article.style.display = 'block';
        pre = id;
    }
</script>