<div class="mt-5">
    <div class="d-flex">
        <div class="rect"></div>
        <h3 class="mb-4">Danh Mục Hàng Đầu</h3>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 mb-4">
        <% if (topCategories && topCategories.length > 0) { %>
            <% topCategories.forEach((category) => { %>
                <div class="col">
                    <div class="border rounded p-2 h-100">
                        <h5 class="text-primary"><%= category.name || "Danh mục không xác định" %></h5>
                        <div class="d-flex flex-column">
                            <a href="http://localhost:3002/article/<%= category.articleId %>" class="d-block">
                                <img src="<%= category.thumbnail || '/path/to/default-thumbnail.jpg' %>"
                                     alt="<%= category.name || 'Danh mục không xác định' %>"
                                     class="img-fluid"/>
                            </a>
                            <div class="card-body d-flex flex-column justify-content-between mt-2" style="flex: 1">
                                <% if (category.articleTitle) { %>
                                    <a href="/article/<%= category.articleId %>" class="text-decoration-none text-dark">
                                        <h6 class="card-title article-title"><%= category.articleTitle %></h6>
                                    </a>
                                    <p class="card-text">
                                        Ngày xuất bản: <%= category.publishDate %>
                                    </p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No categories available.</p>
        <% } %>
    </div>
</div>