<div class="w-100 w-md-25 m-2">
    <a href="/top_articles" class="text-decoration-none text-dark">
        <h3 class="fs-4">Bài viết phổ biến</h3>
    </a>
    <div class="">
        <ul class="trending list-unstyled list-group d-flex flex-column gap-2 p-2 overflow-auto"
        style="max-height: 450px;">
            <% topArticles.forEach((article, index) => { %>
                <li>
                    <a href="/article/<%= article._id %>"
                        class="list-group-item list-group-item-action d-flex gap-2 py-1 px-2 align-items-center" 
                        style="border: none;">
                        <h1 class="fs-4 mb-0"><%= index + 1 %></h1>
                        <div class="flex-column flex-md-row gap-2">
                            <img src="<%= article.thumbnail || 'https://via.placeholder.com/300x200' %>"
                                alt="<%= article.title %>" 
                                class="flex-shrink-0 responsive-image" />
                            <div class="d-flex flex-column justify-content-between">
                                <h6 class="mb-0 fs-6"><%= article.title || 'No Title' %></h6>
                                <p class="card-text small mb-1">
                                    <%= article.category_id.parent_id?.name ? `${article.category_id.parent_id.name} > ${article.category_id.name}` : article.category_id.name %>
                                </p>
                                <small class="opacity-50"><%= article.publish_date %></small>
                            </div>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
