<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newspaper</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/components/article_card.css">
</head>

<body>
    <div class="article-container d-flex"
            data-article-id="<%= article._id %>"
    >
        <div class="thumbnail-container">
            <a href="/article/<%= article._id %>" class="text-decoration-none text-reset">
                <img src="<%= article.thumbnail %>"
                        class="thumbnail"
                        alt="Hình ảnh">
            </a>
        </div>
        <div class="information d-flex flex-column">
            <p class="time"><small class="text-muted"><%= formatDate(article.created_at) %></small></p>
            <a href="/article/<%= article._id %>" class="text-decoration-none text-reset">
                <h4 class="title"><%= article.title %></h4>
            </a>
            <p class="summary"><%- article.summary %></p>
            
            
        </div>
    </div>
</body>
</html>