<link rel="stylesheet" href="/css/home.css" />

<div class="">
    <div class="d-flex">
        <%- include('../../components/home/carousel')%>
        <%- include('../../components/home/top_articles')%>
    </div>
    <!-- <%- include('../../components/home/weekly_highlights')%> -->

    <%- include('../../components/home/top_categories')%>
    
    <%- include('../../components/home/latest_articles')%>
    
</div>
