<div class="update-form-container container-sm my-5">
    <h1>Cập nhật thông tin</h1>
    <hr />
    <form id="updateProfileForm" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="<%= user._id %>" />

        <div class="col-12">
            <label for="inputFullName1" class="form-label" name="full_Name">Họ tên</label>
            <input
                type="text"
                class="form-control"
                name="full_name"
                id="inputFullName1"
                value="<%= profile.full_name || ''%>"
                required
            />
        </div>

        <% if (user.role === 'writer') { %>
        <div class="col-12">
            <label for="inputPenName1" class="form-label" name="pen_name">Bút danh</label>
            <input
                type="text"
                name="pen_name"
                class="form-control"
                id="inputPenName1"
                value="<%= profile.pen_name || ''%>"
                required
            />
        </div>
        <% } %>

        <div class="col-12">
            <label for="inputEmail1" class="form-label" name="email">Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="inputEmail1"
                placeholder="abc@gmail.com"
                value="<%= user.email || ''%>"
                disabled
            />
        </div>

        <div class="col-12">
            <label for="inputDOB" class="form-label" name="dob">Ngày sinh</label>
            <input
                type="date"
                class="form-control"
                id="inputDOB"
                name="dob"
                value="<%= profile.dob ? profile.dob.toISOString().split('T')[0] : '' %>"
                required
            />
        </div>

        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn-update btn btn-secondary">Cập nhật</button>
        </div>
    </form>
</div>
